{% macro navigation() %}

<nav class="navbar navbar-expand-lg navbar-light navbar-floating">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="{{url_for('client.static',filename='favicon.png')}}" alt="" width="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-lg-5 mt-3 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('client.tutorials',section='flask')}}
          ">Flask</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('client.tutorials',section='biology')}}">Biology</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
       <!-- <li class="nav-item">
          <a class="nav-link" href="#">PDF Documents</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

{% endmacro %}

{% macro links() %}
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Biotonic</title>

  <link rel="shortcut icon" href="{{url_for('client.static',filename='favicon.png')}}" type="image/x-icon">

  <link rel="stylesheet" href="{{url_for('client.static',filename='css/maicons.css')}}">

  <link rel="stylesheet" href="{{url_for('client.static',filename='vendor/animate/animate.css')}}">

  <link rel="stylesheet" href="{{url_for('client.static',filename='vendor/owl-carousel/css/owl.carousel.min.css')}}">

  <link rel='stylesheet' href='{{url_for("client.static",filename="css/all.css")}}'>

  <link rel="stylesheet" href="{{url_for('client.static',filename='css/bootstrap.css')}}">

  <link rel="stylesheet" href="{{url_for('client.static',filename='css/mobster.css')}}">
 {% endmacro %}

 {% macro footer() %}
 <footer class='bg-dark text-center text-muted'>
	<p class='mb-0'> Keep learning </p>
</footer>
{% endmacro %}