<!DOCTYPE html>
<html lang="en">
<head>
  <meta name='description' content='Learn the fundamentals of biology'>

   {% from 'addons.html' import links %}
  {{links()}}
</head>
<body>
  {% from 'addons.html' import navigation %}
    {{navigation()}}
  
<div class="page-hero-section bg-image hero-home-1" style="background-image: url('/static/img/bg_hero_1.svg')}});">
  <div class="hero-caption pt-5">
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-lg-6 wow fadeInUp">
          <div class="badge mb-2"><span class="icon mr-1"><span class="mai-globe"></span></span>The students guide to Biology</div>
          <h1 class="mb-4">Study biology with the aid of biotonic</h1>
          <p class="mb-4">Learn biology when you want and how you what.</p>
          <a href="/tutorials?section=biology" class="btn btn-primary rounded-pill" title='learn biology'>Learn Biology</a>
        </div>
        <div class="col-lg-6 d-none d-lg-block wow zoomIn">
          <div class="img-place mobile-preview shadow floating-animate">
            <img src="/static/img/biology.jpg"  style='height: 100%;'alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="position-realive bg-image" style="background-image: url(/static/img/pattern_1.svg);">

<div class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 py-3">
        <div class="img-place mobile-preview shadow wow zoomIn">
          <img src="/static/img/app_preview_2.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 py-3 mt-lg-5">
        <div class="iconic-list">
          <div class="iconic-item wow fadeInUp">
            <div class="iconic-md iconic-text bg-warning fg-white rounded-circle">
              <span class="fa fa-lg fa-tablet-alt"></span>
            </div>
            <div class="iconic-content">
              <h5>Simple Explanations</h5>
              <p class="fs-small">Explanation of concepts are simple for quick and better understanding</p>
            </div>
          </div>
          <div class="iconic-item wow fadeInUp">
            <div class="iconic-md iconic-text bg-info fg-white rounded-circle">
              <span class="fa fa-photo-video fa-lg"></span>
            </div>
            <div class="iconic-content">
              <h5>Pictographs of phenomena</h5>
              <p class="fs-small">Phenomena such as water cycle and nutrient cycle are represented in with pictures</p>
            </div>
          </div>
          <div class="iconic-item wow fadeInUp">
            <div class="iconic-md iconic-text bg-indigo fg-white rounded-circle">
              <span class="fa fa-lg fa-plane-departure"></span>
            </div>
            <div class="iconic-content">
              <h5>Progressive nature</h5>
              <p class="fs-small">Check your progress by taking the quiz that follows each topic</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="page-section bg-image bg-image-overlay-dark" style="background-image: url('/static/img/bg_testimonials.jpg');">
  <div class="container fg-white">
    <div class="row">
      <div class="col-md-8 col-lg-6 offset-lg-1 wow fadeInUp">
        <h2 class="mb-5 fg-white fw-normal">Python3 Programming Lessons</h2>
        <p class="fs-large font-italic">Biotonic offers lesson on python programming for website development. If you are
        a lover of computers and programmers, you can take on this course and learn how to build websites.</p>
        <p class="fs-large fg-grey fw-medium mb-5">-- Dev Seth Ikiroma-Owiye</p>

        <a href="/tutorials?section=flask" title='Learn website creation with python3' class="btn btn-outline-light rounded-pill">Learn website building with python3<span class="mai-chevron-forward"></span></a>
      </div>
    </div>
  </div>
</div>


<div class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 py-3 mb-5 mb-lg-0">
        <div class="img-place w-lg-75 wow zoomIn">
          <img src="/static/img/illustration_contact.svg" alt="">
        </div>
      </div>
      <div class="col-lg-5 py-3">
        <h1 class="wow fadeInUp">Need a help? <br>
        Don't worry just contact us</h1>

        <form method="POST" class="mt-5" action="mailto:chembio451@gmail.com">
          <div class="form-group wow fadeInUp">
            <label for="name" class="fw-medium fg-grey">Fullname</label>
            <input type="text" class="form-control" id="name">
          </div>

          <div class="form-group wow fadeInUp">
            <label for="email" class="fw-medium fg-grey">Email</label>
            <input type="text" class="form-control" id="email">
          </div>

          <div class="form-group wow fadeInUp">
            <label for="message" class="fw-medium fg-grey">Message</label>
            <textarea rows="6" class="form-control" id="message"></textarea>
          </div>

          <div class="form-group mt-4 wow fadeInUp">
            <button type="submit" class="btn btn-primary">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% from 'addons.html' import footer %}
{{footer()}}

<script src="{{url_for('client.static',filename='js/jquery-3.5.1.min.js')}}"></script>

<script src="{{url_for('client.static',filename='js/bootstrap.bundle.min.js')}}"></script>

<script src="{{url_for('client.static',filename='vendor/owl-carousel/js/owl.carousel.min.js')}}"></script>

<script src="{{url_for('client.static',filename='vendor/wow/wow.min.js')}}"></script>

<script src="{{url_for('client.static',filename='js/mobster.js')}}"></script>

</body>
</html>



